<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147956361944-m0h6uho7naur665a68m4lnthh22spskh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147956361944-m0h6uho7naur665a68m4lnthh22spskh</string>
	<key>API_KEY</key>
	<string>AIzaSyDNZP9f4rsz0ikRp-jl3Pb6D7egy1yvllQ</string>
	<key>GCM_SENDER_ID</key>
	<string>147956361944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gpy.NewsApp</string>
	<key>PROJECT_ID</key>
	<string>newsapp-d904c</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-d904c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147956361944:ios:879745c534a006bbe505ad</string>
</dict>
</plist>